@use './tokens' as *;
.aside-recruit {
  padding: 150px 0px 200px;
  @include media(middle) {
    padding: 100px 0px 150px;
  }
  &:after {
    width: 100%;
    height: 100%;
    content: '';
    background-color: #ffffff;
    background-image:
      linear-gradient(#efefef 1px, transparent 1px),
      linear-gradient(90deg, #efefef 1px, transparent 1px);
    background-size: 24px 24px;
    display: block;
    background-position-y: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
  }
  .aside-title {
    text-align: center;
    span {
      font-size: 70px;
      color: #fff;
      font-weight: bold;
      @include media(middle) {
        font-size: 40px;
      }
    }
    h2 {
      text-align: center;
      font-size: 20px;
      color: #fff;
      @include media(middle) {
        font-size: 15px;
      }
    }
  }
  .aside-bg {
    clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include media(middle) {
      clip-path: polygon(0% 12%, 100% 0%, 100% 82%, 0% 100%);
    }
    @include media(mobile) {
      clip-path: polygon(0% 8%, 100% 0%, 100% 92%, 0% 100%);
    }
    &:after {
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      background-color: var(--color-main);
      opacity: 0.85;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .aside-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .aside-wrap-col {
      width: 48%;
      @include media(mobile) {
        width: 100%;
        margin-bottom: 30px;
      }
      &:nth-child(1) {
        a {
          @include media(mobile) {
            padding: 25px 20px;
          }
        }
      }
      a {
        display: block;
        background-color: #fff;
        border-radius: 10px;
        padding: 25px 0px 25px;
        position: relative;
        @include media(mobile) {
          padding: 15px 20px;
          height: 114px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
        span {
          font-size: 35px;
          color: var(--color-main);
          font-family: var(--font-en);
          font-weight: bold;
          text-align: center;
          line-height: 1.1;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include media(middle) {
            font-size: 25px;
            justify-content: center;
          }
          @include media(mobile) {
            justify-content: left;
            text-align: left;
            height: auto;
            width: 100%;
          }
        }
        h3 {
          font-size: 20px;
          text-align: center;
          color: var(--color-main);
          font-weight: bold;
          @include media(middle) {
            font-size: 18px;
          }
          @include media(mobile) {
            text-align: left;
          }
        }
        i {
          display: block;
          width: 34px;
          background-color: var(--color-main);
          border-radius: 50%;
          height: 34px;
          margin: 10px auto 0px auto;
          background-image: url('../../assets/img/icon/icon-arrow-white.svg');
          background-size: 16px;
          background-repeat: no-repeat;
          background-position: center;
          @include media(mobile) {
            position: absolute;
            right: 20px;
            margin: 0px;
            bottom: 50%;
            transform: translateY(50%);
          }
        }
      }
    }
    .aside-wrap-col-full {
      width: 100%;
      margin-top: 20px;
      @include media(mobile) {
        margin-top: 0px;
      }

      a {
        background-color: var(--color-sub);
        padding: 50px 40px;
        display: flex;
        border-radius: 10px;
        align-items: center;
        position: relative;
        @include media(mobile) {
          padding: 15px 20px;
          height: 114px;
          flex-wrap: wrap;
        }
        i {
          display: block;
          position: absolute;
          right: 40px;
          bottom: 50%;
          transform: translateY(50%);
          width: 34px;
          border-radius: 50%;
          height: 34px;
          margin: 10px auto 0px auto;
          background-image: url('../../assets/img/icon/icon-arrow.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @include media(mobile) {
            right: 20px;
          }
        }
        span {
          font-size: 58px;
          color: #fff;
          font-family: var(--font-en);
          font-weight: bold;
          text-align: center;
          line-height: 1.1;
          margin-right: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include media(middle) {
            font-size: 40px;
            justify-content: left;
          }
        }
        h3 {
          font-size: 20px;
          text-align: center;
          color: #fff;
          font-weight: bold;
          @include media(mobile) {
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }
}
