@use './tokens' as *;
#cookie-notice {
  background-color: #959595 !important;
  .cn-text-container {
    font-size: 15px;
    font-weight: bold;
    margin: 0px !important;
    @include media(middle) {
      margin-bottom: 5px !important;
      font-size: 12px;
      padding-bottom: 25px;
      text-align: left;
    }
  }
  #cn-accept-cookie {
    background-color: var(--color-sub) !important;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    height: 43px;
    border-radius: 5px;
    display: inline-block;
    @include media(middle) {
      font-size: 13px;
      height: 35px;
      padding: 8px 15px;
      position: absolute;
      right: 5%;
      bottom: 15px;
    }
  }
  #cn-more-info {
    background-color: var(--color-sub) !important;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    height: 43px;
    border-radius: 5px;
    display: inline-block;
    @include media(middle) {
      font-size: 13px;
      height: 35px;
      padding: 8px 15px;
      position: absolute;
      right: calc(5% + 60px);
      bottom: 15px;
    }
  }
  .cookie-notice-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.page {
  background-color: #ffffff;
  background-image:
    linear-gradient(#efefef 1px, transparent 1px),
    linear-gradient(90deg, #efefef 1px, transparent 1px);
  background-size: 24px 24px;
}

.color-main {
  color: var(--color-main);
}

.color-sub {
  color: var(--color-sub);
}

.color-accent {
  color: var(--color-accent);
}

.color-black {
  color: var(--color-black);
}

.bg-main {
  background-color: var(--color-main);
}

.bg-sub {
  background-color: var(--color-sub);
}

.font-en {
  font-family: var(--font-en);
}

.hidden-mobile {
  @include media(mobile) {
    display: none !important;
  }
}

.hidden-sm {
  @include media(sm) {
    display: none !important;
  }
}

.hidden-middle {
  @include media(middle) {
    display: none !important;
  }
}

.content-width {
  width: 85%;
  max-width: 1088px;
  margin: 0 auto;
}

.content-width-small {
  width: 85%;
  max-width: 904px;
  margin: 0 auto;
}
.content-width--mobile-full {
  @include media(mobile) {
    width: 100% !important;
    max-width: 100%;
    margin: 0 auto;
  }
}
.content-width-xs {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}

.com-btn-black {
  width: 100%;

  &.com-btn-sub--small {
    a {
      font-size: 16px;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #464646;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 17px 0;

    i {
      width: 22px;
      height: 22px;
      background-image: url(("../../assets/img/icon/icon-arrow.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      right: 20px;
      position: absolute;

      &.target {
        width: 14px;
        height: 14px;
        background-image: url('../../assets/img/icon/icon-target.svg');
      }
    }
  }
}

.com-btn-white {
  width: 100%;

  &.com-btn-sub--small {
    a {
      font-size: 16px;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: var(--color-main);
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 17px 0;

    i {
      display: block;
      width: 34px;
      background-color: var(--color-main);
      border-radius: 50%;
      height: 34px;

      background-image: url('../../assets/img/icon/icon-arrow-white.svg');
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 20px;
      margin: 0px;
      bottom: 50%;
      transform: translateY(50%);
    }
  }
}

.com-btn-sub {
  width: 100%;

  &.com-btn-sub--small {
    a {
      font-size: 16px;
    }

    span {
      font-size: 15px;
    }
  }

  a,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-sub);
    color: var(--color-accent);
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 17px 0;

    i {
      width: 22px;
      height: 22px;
      background-image: url(("../../assets/img/icon/icon-arrow.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      right: 20px;
      position: absolute;

      &.target {
        width: 14px;
        height: 14px;
        background-image: url('../../assets/img/icon/icon-target.svg');
      }
    }
  }
}

.com-btn-main {
  width: 100%;

  a,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
    color: var(--color-accent);
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 17px 0;

    i {
      width: 22px;
      height: 22px;
      background-image: url(("../../assets/img/icon/icon-arrow.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      right: 20px;
      position: absolute;
    }
  }
}

.breadcrumb {
  width: 90%;
  margin: 20px auto 0px;
  max-width: 2000px;
  position: relative;
  z-index: 3;

  ul {
    display: flex;

    li {
      a {
        &:after {
          content: '/';
          display: inline;
          margin: 0px 5px;
        }
      }

      a,
      span {
        font-size: 12px;
        color: var(--color-black);
        font-weight: 500;
        left: 0.1em;
        //折り返し禁止
        white-space: nowrap;
      }
    }
  }
}

.page-visual {
  width: 100%;
  height: 414px;
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 6;
  }

  @include media(mobile) {
    height: 269px;
  }

  .bg-clip-sub {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 44%;
    height: 52.4px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);

    @include media(mobile) {
      width: 100%;
    }
  }

  .bg-clip-main {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 7;
    width: 44%;
    height: 52.4px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    transform: scaleX(-1) scaleY(-1);

    @include media(mobile) {
      width: 100%;
    }
  }

  .page-visual-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .page-visual-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    text-align: center;
    width: 100%;

    span {
      color: #ffffff;
      font-size: 70px;
      font-weight: bold;
      letter-spacing: 0.08em;
      line-height: 1;

      @include media(middle) {
        font-size: 40px;
        line-height: 1;
      }
    }

    h1 {
      color: #ffffff;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 1;

      @include media(middle) {
        font-size: 25px;
      }
    }
  }
}

.page-com-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  max-width: 633px;
  margin: 0 auto;
  padding: 25px 0;

  @include media(middle) {
    font-size: 20px;
    padding: 10px 0;
  }
}

.page-visual-simple {
  width: 100%;
  height: 242px;
  display: flex;
  align-items: center;
  position: relative;

  .page-visual-simple-title {
    span {
      font-size: 70px;
      font-family: var(--font-en);
      font-weight: bold;
      line-height: 1;

      @include media(middle) {
        font-size: 40px;
      }
    }

    h1 {
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: var(--color-accent);

      &.h1-small {
        font-size: 40px;

        @include media(middle) {
          font-size: 25px;
        }
      }
    }
  }

  .bg-clip-sub {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 7;
    width: 44%;
    height: 52.4px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    transform: scaleX(-1) scaleY(-1);

    @include media(mobile) {
      width: 100%;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;

  @include media(mobile) {
    margin-bottom: 60px;
  }
  span,
  a {
    color: #000;
    font-weight: 900;
    font-size: 24px;
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    letter-spacing: 0em;
    line-height: 0;
    @include media(middle) {
      font-size: 24px;
      width: 37px;
      height: 37px;
    }
  }
  span {
    color: #898989;
  }
  .next {
    position: relative;
    margin-left: 25px;
    border: none !important;
    &:after {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('../../assets/img/icon/icon-pagination-next.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 14px;
      height: 24px;
    }
    &.no-link {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .last {
    position: relative;
    display: none !important;
  }
  .previous {
    position: relative;
    margin-right: 25px;
    border: none;
    &:after {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('../../assets/img/icon/icon-pagination-prev.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 14px;
      height: 24px;
    }
    &.no-link {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .first {
    position: relative;
    //border-color: #BFBFBF !important;
    display: none !important;
  }
}
