.page {
  background-color: #ffffff;
  background-image:
    linear-gradient(#efefef 1px, transparent 1px),
    linear-gradient(90deg, #efefef 1px, transparent 1px);
  background-size: 24px 24px;
}

.color-main {
  color: var(--color-main);
}

.color-sub {
  color: var(--color-sub);
}

.color-accent {
  color: var(--color-accent);
}

.color-black {
  color: var(--color-black);
}

.bg-main {
  background-color: var(--color-main);
}

.bg-sub {
  background-color: var(--color-sub);
}

.font-en {
  font-family: var(--font-en);
}

.content-width {
  width: 90%;
  max-width: 1088px;
  margin: 0 auto;
}

.content-width-small {
  width: 90%;
  max-width: 904px;
  margin: 0 auto;
}

.com-btn-sub {
  width: 100%;
  &.com-btn-sub--small {
    a {
      font-size: 16px;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-sub);
    color: var(--color-accent);
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 17px 0;

    i {
      width: 22px;
      height: 22px;
      background-image: url(("../../assets/img/icon/icon-arrow.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      right: 20px;
      position: absolute;
      &.target {
        width: 14px;
        height: 14px;
        background-image: url('../../assets/img/icon/icon-target.svg');
      }
    }
  }
}
.com-btn-main {
  width: 100%;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
    color: var(--color-accent);
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 17px 0;

    i {
      width: 22px;
      height: 22px;
      background-image: url(("../../assets/img/icon/icon-arrow.png"));
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      right: 20px;
      position: absolute;
    }
  }
}

.breadcrumb {
  width: 90%;
  margin: 20px auto 0px;
  max-width: 2000px;
  position: relative;
  z-index: 3;

  ul {
    display: flex;

    li {
      a {
        &:after {
          content: '/';
          display: inline;
          margin: 0px 5px;
        }
      }

      a,
      span {
        font-size: 12px;
        color: var(--color-black);
        font-weight: 500;
        left: 0.1em;
        //折り返し禁止
        white-space: nowrap;
      }
    }
  }
}

.page-visual {
  width: 100%;
  height: 414px;
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 6;
  }

  .bg-clip-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 44%;
    height: 52.4px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
  }

  .bg-clip-sub {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 7;
    width: 44%;
    height: 52.4px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    transform: scaleX(-1) scaleY(-1);
  }

  .page-visual-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .page-visual-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    text-align: center;

    span {
      color: #ffffff;
      font-size: 70px;
      font-weight: bold;
      letter-spacing: 0.08em;
    }

    h1 {
      color: #ffffff;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 1;
    }
  }
}

.page-com-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  max-width: 633px;
  margin: 0 auto;
  padding: 25px 0;
}

.page-visual-simple {
  width: 100%;
  height: 242px;
  display: flex;
  align-items: center;
  position: relative;

  .page-visual-simple-title {
    h1 {
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: var(--color-accent);
    }
  }

  .bg-clip-sub {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 7;
    width: 44%;
    height: 52.4px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    transform: scaleX(-1) scaleY(-1);
  }
}
