@use './tokens' as *;

.company {
  .sec01 {
    padding: 79px 0 157px;

    @include media(mobile) {
      padding: 38px 0 66px;
    }

    .sec01-wrap {
      margin-top: 34px;

      @include media(mobile) {
        margin-top: 18px;
      }

      .sec01-left {
        width: 468px;

        @include media(middle) {
          width: 317px;
        }

        @include media(mobile) {
          margin: 0 auto 20px;
        }

        .sec01-left-img {
          padding-top: 45px;
          position: relative;

          .img-bg-sub {
            display: block;
            position: absolute;
            width: 370px;
            height: 436px;
            border-radius: 10px;
            z-index: 3;
            left: 25px;
            top: 12px;
            transform: rotate(-4deg);

            @include media(middle) {
              width: 253px;
              height: 298px;
              left: 15px;
              top: 25px;
            }
          }

          .img-bg-main {
            display: block;
            position: absolute;
            width: 370px;
            height: 436px;
            border-radius: 10px;
            z-index: 4;
            top: 12px;
            right: 25px;
            transform: rotate(4deg);

            @include media(middle) {
              width: 253px;
              height: 298px;
              top: 25px;
              right: 15px;
            }
          }

          .sec01-left-img-wrap {
            width: 352px;
            margin: 0 auto;
            position: relative;
            z-index: 5;

            @include media(middle) {
              width: 241px;
            }

            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }
      }

      .sec01-right {
        width: calc(100% - 468px);
        padding-left: 25px;

        @include media(middle) {
          width: calc(100% - 317px);
          padding-left: 10px;
        }

        @include media(mobile) {
          width: 100%;
          padding: 0;
        }

        h3 {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.66;
          margin-bottom: 25px;

          @include media(middle) {
            font-size: 20px;
            margin-bottom: 5px;
          }
        }

        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1em;
          line-height: 2;
          margin-bottom: 15px;
        }

        h4 {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.2;
          text-align: right;

          span {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
          }
        }

      }
    }
  }

  .sec02 {
    padding-bottom: 155px;

    @include media(mobile) {
      padding-bottom: 66px;
    }

    .sec02-img {
      margin: 44px auto;
      width: 100%;
      height: 430px;

      @include media(middle) {
        height: 215px;
      }

      @include media(mobile) {
        margin: 23px auto;
        height: 125px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .sec02-wrap {
      .sec02-wrap-left {
        width: 43%;
        padding-right: 2vw;

        @include media(middle) {
          width: 40%;
        }

        @include media(mobile) {
          width: 100%;
          padding: 0;
        }

        h3 {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.66;

          @include media(middle) {
            font-size: 20px;
          }
        }
      }

      .sec02-wrap-right {
        width: 57%;

        @include media(middle) {
          width: 60%;
        }

        @include media(mobile) {
          width: 100%;
        }

        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1em;
          line-height: 2;
        }
      }
    }
  }

  .sec03 {
    padding-bottom: 111px;

    @include media(mobile) {
      padding-bottom: 66px;
    }

    .sec03-wrap {
      margin-top: 81px;

      @include media(mobile) {
        margin-top: 38px;
      }

      .sec03-cms-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin-top: 125px;

        &:first-child {
          margin-top: 0;
        }

        @include media(mobile) {
          margin-top: 72px;
        }

        .cms-list-img {
          width: 445px;
          height: 445px;

          @include media(middle) {
            width: 230px;
            height: 230px;
          }

          @include media(mobile) {
            width: 100%;
            height: 318px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .cms-list-txt {
          width: calc(100% - 445px);
          padding-left: 3vw;

          @include media(middle) {
            width: calc(100% - 230px);
          }

          @include media(mobile) {
            width: 100%;
            padding: 0;
            margin-bottom: 19px;
          }

          h3 {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: .1em;
            padding-bottom: 10px;
            border-bottom: solid 1px #707070;
            margin-bottom: 26px;

            @include media(middle) {
              margin-bottom: 19px;
            }
          }

          h4 {
            font-size: 40px;
            font-weight: bold;
            letter-spacing: .1em;
            line-height: 1.25;

            @include media(middle) {
              font-size: 25px;
            }
          }

          p {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
            line-height: 2;
            margin-top: 20px;

            @include media(middle) {
              margin-top: 15px;
            }
          }

          dl {
            margin-top: 20px;

            dt,
            dd {
              font-size: 15px;
              font-weight: 500;
              letter-spacing: .1em;
              line-height: 2;
            }
          }
        }
      }
    }
  }

  .sec04 {
    padding-bottom: 104px;

    @include media(mobile) {
      padding-bottom: 66px;
    }

    .sec04-wrap {
      margin-top: 40px;

      @include media(mobile) {
        margin-top: 20px;
      }

      .sec04-txt {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .1em;
        line-height: 2;
        margin-bottom: 45px;

        @include media(mobile) {
          margin-bottom: 40px;
        }
      }

      .sec04-list {
        justify-content: space-between;

        li {
          width: 30%;
          border-radius: 10px;
          padding: 35px 23px 25px;
          overflow: hidden;
          box-shadow: 0 3px 6px #00000016;
          background-color: #ffffff;
          position: relative;

          &:nth-of-type(2) {
            &::after {
              content: "02";
            }
          }

          &:nth-of-type(3) {
            &::after {
              content: "03";
            }

            @include media(mobile) {
              margin-bottom: 0;
            }
          }

          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 31.6%;
            //height: 31.6%;
            aspect-ratio: 1 / 1;
            max-width: 102px;
            //max-height: 102px;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
            display: block;
            background-color: var(--color-sub);

            @include media(middle) {
              width: 40%;
            }

            @include media(mobile) {
              width: 31.6%;
              max-width: 102px;
            }
          }

          &::after {
            position: absolute;
            display: block;
            content: "01";
            width: 38px;
            height: 30px;
            font-size: clamp(20px, 2vw, 30px);
            font-weight: bold;
            letter-spacing: .1em;
            left: 10px;
            top: 10px;
            color: var(--color-accent);

            @include media(mobile) {
              font-size: 30px;
            }
          }

          @include media(middle) {
            width: 32%;
            padding: 30px 15px 20px;
          }

          @include media(mobile) {
            width: 100%;
            margin-bottom: 35px;
            padding: 35px 23px 25px;
          }

          .sec04-list-icon {
            display: block;
            margin: 0 auto;
            height: 91.5px;
            width: auto;
            display: block;

            @include media(middle) {
              height: 61.5px;
            }

            @include media(mobile) {
              height: 91.5px;
            }

            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }

          h3 {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: .1em;
            line-height: 1.5;
            margin: 17px 0 10px;

            @include media(middle) {
              font-size: 18px;
            }

            @include media(mobile) {
              font-size: 20px;
            }
          }

          p {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
            line-height: 2;

            @include media(middle) {
              font-size: 13px;
            }

            @include media(mobile) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .sec05 {
    padding-bottom: 163px;

    @include media(mobile) {
      padding-bottom: 66px;
    }

    .sec05-cms {
      margin-top: 51px;

      li {
        width: 30.5%;
        margin-right: 4.25%;
        margin-top: 31px;
        border-radius: 10px;
        padding: 37px 20px;
        box-shadow: 0 3px 6px #00000016;
        background-color: #ffffff;


        &:nth-of-type(3n) {
          margin-right: 0;
        }

        &:nth-of-type(-n + 3) {
          margin-top: 0;
        }

        &:last-of-type {
          @include media(mobile) {
            margin: 0;
          }
        }

        @include media(middle) {
          width: 32%;
          margin-right: 2%;
        }

        @include media(mobile) {
          width: 100%;
          margin: 0 auto 34px;
        }

        h3 {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.5;
          text-align: center;

          @include media(middle) {
            font-size: 18px;
          }

          @include media(mobile) {
            font-size: 20px;
          }
        }

        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1em;
          line-height: 2;
          margin-top: 16px;

          @include media(middle) {
            font-size: 13px;
          }

          @include media(mobile) {
            font-size: 15px;
          }
        }
      }
    }
  }

  .sec06 {
    padding-bottom: 200px;

    @include media(mobile) {
      padding-bottom: 92px;
    }

    .sec06-cms-list {
      margin-top: 47px;

      @include media(mobile) {
        margin-top: 29px;
      }

      .gallery-swiper {
        overflow: hidden;
        position: relative;

        .swiper-wrapper {
          .swiper-slide {
            width: 67%;
            height: 602px;

            @include media(middle) {
              height: 301px;
            }

            @include media(mobile) {
              width: 80%;
              height: 212px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }

      .gallery-pagination {
        position: relative;
        margin-top: 22px;
        text-align: center;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background: #9D9D9D;
          opacity: 1;
          margin: 0 5px;
        }
      }

      .gallery-pagination .swiper-pagination-bullet-active {
        background: var(--color-sub);
      }

      .gallery-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;

        @include media(middle) {
          top: 43%;
        }

        img {
          display: block;
          width: 47px;

          @include media(mobile) {
            width: 32px;
          }
        }
      }

      .gallery-prev {
        left: calc(50% - 38.5%);

        @include media(mobile) {
          left: 7%;
        }
      }

      .gallery-next {
        right: calc(50% - 38.5%);

        @include media(mobile) {
          right: 7%;
        }
      }
    }
  }

  .sec07 {
    padding-bottom: 91px;

    @include media(mobile){
      padding-bottom: 79px;
    }

    .sec07-wrap {
      border: solid 7px var(--color-sub);
      border-radius: 10px;
      padding: 0 75px 85px;
      position: relative;
      background-color: #ffffff;

      @include media(middle){
        padding: 0 55px 65px;
      }

      @include media(mobile){
        padding: 0 28px 30px;
      }

      .page-com-title {
        transform: translateY(-50%);
      }

      .sec07-cms-list {
        dl {
          display: flex;
          flex-wrap: wrap;
          padding: 25px 0;
          border-bottom: solid 1px #E5E5E5;

          @include media(mobile){
            padding: 19px 0;
          }

          dt {
            width: 114px;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: .1em;
            line-height: 2;

            @include media(mobile) {
              width: 100%;
            }
          }

          dd {
            width: calc(100% - 114px);
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
            line-height: 2;

            @include media(mobile) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}