@use './tokens' as *;

.company {
  .sec01 {
    padding: 79px 0 157px;

    .sec01-wrap {
      margin-top: 34px;

      .sec01-left {
        width: 468px;

        .sec01-left-img {
          padding-top: 45px;
          position: relative;

          .img-bg-main {
            display: block;
            position: absolute;
            width: 370px;
            height: 436px;
            border-radius: 10px;
            z-index: 3;
            left: 25px;
            top: 12px;
            transform: rotate(-4deg);
          }

          .img-bg-sub {
            display: block;
            position: absolute;
            width: 370px;
            height: 436px;
            border-radius: 10px;
            z-index: 4;
            top: 12px;
            right: 25px;
            transform: rotate(4deg);
          }

          .sec01-left-img-wrap {
            width: 352px;
            margin: 0 auto;
            position: relative;
            z-index: 5;

            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }
      }

      .sec01-right {
        width: calc(100% - 468px);
        padding-left: 25px;

        h3 {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.66;
          margin-bottom: 25px;
        }

        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1em;
          line-height: 2;
          margin-bottom: 15px;
        }

        h4 {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.2;
          text-align: right;

          span {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
          }
        }

      }
    }
  }

  .sec02 {
    padding-bottom: 155px;

    .sec02-img {
      margin: 44px auto;
      width: 100%;
      height: 430px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .sec02-wrap {
      .sec02-wrap-left {
        width: 43%;
        padding-right: 2vw;

        h3 {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.66;
        }
      }

      .sec02-wrap-right {
        width: 57%;

        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1em;
          line-height: 2;
        }
      }
    }
  }

  .sec03 {
    padding-bottom: 111px;

    .sec03-wrap {
      margin-top: 81px;

      .sec03-cms-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 125px;

        &:first-child {
          margin-top: 0;
        }

        .cms-list-img {
          width: 445px;
          height: 445px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .cms-list-txt {
          width: calc(100% - 445px);
          padding-left: 3vw;

          h3 {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: .1em;
            padding-bottom: 10px;
            border-bottom: solid 1px #707070;
            margin-bottom: 26px;
          }

          h4 {
            font-size: 40px;
            font-weight: bold;
            letter-spacing: .1em;
            line-height: 1.25;
          }

          p {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
            line-height: 2;
            margin-top: 20px;
          }

          dl {
            margin-top: 20px;

            dt,
            dd {
              font-size: 15px;
              font-weight: 500;
              letter-spacing: .1em;
              line-height: 2;
            }
          }
        }
      }
    }
  }

  .sec04 {
    padding-bottom: 104px;

    .sec04-wrap {
      margin-top: 40px;

      .sec04-txt {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .1em;
        line-height: 2;
        margin-bottom: 45px;
      }

      .sec04-list {
        justify-content: space-between;

        li {
          width: 30%;
          border-radius: 10px;
          padding: 35px 23px 25px;
          overflow: hidden;
          box-shadow: 0 3px 6px #00000016;
          background-color: #ffffff;
          position: relative;

          &:nth-of-type(2) {
            &::after {
              content: "02";
            }
          }

          &:nth-of-type(3) {
            &::after {
              content: "03";
            }
          }

          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 31.6%;
            //height: 31.6%;
            aspect-ratio: 1 / 1;
            max-width: 102px;
            //max-height: 102px;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
            display: block;
            background-color: var(--color-main);
          }

          &::after {
            position: absolute;
            display: block;
            content: "01";
            width: 38px;
            height: 30px;
            font-size: clamp(20px, 2vw, 30px);
            font-weight: bold;
            letter-spacing: .1em;
            left: 10px;
            top: 10px;
            color: var(--color-accent);
          }

          .num-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 31.6%;
            height: 31.6%;
            max-width: 102px;
            max-height: 102px;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
            display: block;
          }

          .sec04-list-icon {
            display: block;
            margin: 0 auto;
            height: 91.5px;
            width: auto;
            display: block;

            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }

          h3 {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: .1em;
            line-height: 1.5;
            margin: 17px 0 10px;
          }

          p {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
            line-height: 2;
          }
        }
      }
    }
  }

  .sec05 {
    padding-bottom: 163px;

    .sec05-cms {
      margin-top: 51px;

      li {
        width: 30.5%;
        margin-right: 4.25%;
        margin-top: 31px;
        border-radius: 10px;
        padding: 37px 20px;
        box-shadow: 0 3px 6px #00000016;
        background-color: #ffffff;


        &:nth-of-type(3n) {
          margin-right: 0;
        }

        &:nth-of-type(-n + 3) {
          margin-top: 0;
        }

        h3 {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.5;
          text-align: center;
        }

        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1em;
          line-height: 2;
          margin-top: 16px;
        }
      }
    }
  }

  .sec06 {
    padding-bottom: 200px;

    .sec06-cms-list {
      margin-top: 47px;

      .gallery-swiper {
        overflow: hidden;
        position: relative;

        .swiper-wrapper {
          .swiper-slide {
            width: 67%;
            height: 602px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }

      .gallery-pagination {
        position: relative;
        margin-top: 22px;
        text-align: center;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background: #9D9D9D;
          opacity: 1;
          margin: 0 5px;
        }
      }

      .gallery-pagination .swiper-pagination-bullet-active {
        background: var(--color-main);
      }

      .gallery-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;

        img{
          display: block;
          width: 47px;
        }
      }

      .gallery-prev{
        left: calc(50% - 38.5%);
      }
      .gallery-next{
        right: calc(50% - 38.5%);
      }
    }
  }

  .sec07 {
    padding-bottom: 91px;

    .sec07-wrap {
      border: solid 7px var(--color-main);
      border-radius: 10px;
      padding: 0 75px 85px;
      position: relative;
      background-color: #ffffff;

      .page-com-title {
        transform: translateY(-50%);
      }

      .sec07-cms-list {
        dl {
          display: flex;
          flex-wrap: wrap;
          padding: 25px 0;
          border-bottom: solid 1px #E5E5E5;

          dt {
            width: 114px;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: .1em;
            line-height: 2;
          }

          dd {
            width: calc(100% - 114px);
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
            line-height: 2;
          }
        }
      }
    }
  }
}