@use './tokens' as *;

.guardian {
  .sec01 {
    padding: 63px 0 93px;

    @include media(mobile) {
      padding: 43px 0 46px;
    }

    .sec01-wrap {
      .sec01-left {
        width: 468px;

        @include media(middle) {
          width: 317px;
        }

        @include media(mobile) {
          margin: 0 auto 20px;
        }

        .sec01-left-img {
          padding-top: 45px;
          position: relative;

          .img-bg-sub {
            display: block;
            position: absolute;
            width: 370px;
            height: 436px;
            border-radius: 10px;
            z-index: 3;
            left: 25px;
            top: 12px;
            transform: rotate(-4deg);

            @include media(middle) {
              width: 253px;
              height: 298px;
              left: 15px;
              top: 25px;
            }
          }

          .img-bg-main {
            display: block;
            position: absolute;
            width: 370px;
            height: 436px;
            border-radius: 10px;
            z-index: 4;
            top: 12px;
            right: 25px;
            transform: rotate(4deg);

            @include media(middle) {
              width: 253px;
              height: 298px;
              top: 25px;
              right: 15px;
            }
          }

          .sec01-left-img-wrap {
            width: 352px;
            margin: 0 auto;
            position: relative;
            z-index: 5;

            @include media(middle) {
              width: 241px;
            }

            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }
      }

      .sec01-right {
        width: calc(100% - 468px);
        padding-left: 25px;

        @include media(middle) {
          width: calc(100% - 317px);
          padding-left: 10px;
        }

        @include media(mobile) {
          width: 100%;
          padding: 0;
        }

        h3 {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.66;
          margin-bottom: 25px;

          @include media(middle) {
            font-size: 20px;
            margin-bottom: 5px;
          }
        }

        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1em;
          line-height: 2;
          margin-bottom: 88px;

          @include media(mobile) {
            margin-bottom: 30px;
          }
        }

        h4 {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.2;
          text-align: right;

          span {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .1em;
          }
        }

      }
    }
  }

  .sec02 {
    padding-bottom: 128px;

    @include media(mobile) {
      padding-bottom: 40px;
    }

    ul {
      margin-top: 49px;
      justify-content: space-between;

      @include media(mobile){
        margin-top: 25px;
      }

      li {
        width: 30.5%;
        border-radius: 10px;
        box-shadow: 0 3px 6px #00000016;
        padding: 29px 25px;
        background-color: #ffffff;

        &:last-of-type {
          @include media(mobile) {
            margin-bottom: 0;
          }
        }

        @include media(middle) {
          width: 32%;
          padding: 25px 15px;
        }

        @include media(mobile) {
          width: 100%;
          padding: 29px 25px;
          margin-bottom: 28px;
        }

        span {
          display: block;
          width: 100%;
          height: 188px;
          margin-bottom: 20px;

          @include media(middle) {
            height: 156px;
          }

          @include media(mobile) {
            height: 176px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        h3 {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1.5;
          margin-bottom: 5px;

          @include media(middle) {
            font-size: 16px;
          }

          @include media(mobile) {
            font-size: 20px;
          }
        }

        p {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1em;
          line-height: 2;

          @include media(middle) {
            font-size: 13px;
          }

          @include media(mobile) {
            font-size: 15px;
          }
        }
      }
    }
  }
}