@use './tokens' as *;

.news-main {
  background-color: #ffffff;
  background-image:
    linear-gradient(#efefef 1px, transparent 1px),
    linear-gradient(90deg, #efefef 1px, transparent 1px);
  background-size: 24px 24px;
  .news-main-wrap {
    padding: 114px 0 74px;
    @include media(middle) {
      padding: 30px 0 30px;
    }

    ul {
      justify-content: space-between;
      margin-bottom: 88px;
      @include media(middle) {
        margin-bottom: 40px;
      }

      li {
        width: 23.2%;
        @include media(mobile) {
          width: 49%;
          margin-bottom: 2%;
        }

        span,
        a {
          height: 81px;
          border: solid 3px var(--color-sub);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background-color: #fff;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.1em;
          color: var(--color-sub);
          width: 100%;
          @include media(mobile) {
            height: 50px;
            font-size: 15px;
            border: solid 2px var(--color-sub);
          }
          &:hover {
            cursor: pointer;
          }
        }
      }

      .active {
        span,
        a {
          background-color: var(--color-sub) !important;
          color: #ffffff !important;
        }
      }
    }

    .number {
      align-items: center;
      margin-bottom: 23px;

      h3 {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1em;
        margin-right: 25px;
      }

      span {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1em;
      }
    }

    .news-main-list {
      .news-main-list-wrap {
        width: 32%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 2%;
        margin-bottom: 49px;
        @include media(mobile) {
          width: 100%;
        }

        &:nth-child(3n + 1) {
          margin-left: 0;
        }
        a {
          display: block;
        }

        .news-main-list-wrap-img {
          width: 100%;
          height: 214px;
          margin-bottom: 13px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        span {
          display: inline-block;
          padding: 3px 10px;
          background-color: #707070;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.12em;
          color: #fff;
          border-radius: 11px;
          margin-right: 10px;
        }

        time {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.12em;
          color: #707070;
        }

        h3 {
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.12em;
          margin-top: 13px;
        }
      }
    }
  }
}
