@use './tokens' as *;
.error404,
.page,
.single,
.archive {
  padding-top: 72px;
  @include media(mobile) {
    padding-top: 50px;
  }
}
.page-main {
  position: relative;
  &.page-main-bg {
    padding: 170px 0px 200px;
    @include media(middle) {
      padding: 70px 0px 110px;
    }
    h1 {
      text-align: center;
      font-size: 80px;
      font-family: var(--font-en);
      font-weight: bold;
      @include media(middle) {
        font-size: 40px;
      }
    }
    h2 {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      @include media(middle) {
        font-size: 20px;
      }
    }
    p {
      font-size: 15px;
      text-align: center;
      font-weight: bold;
      line-height: 2;
    }
  }
  .page-bg {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    &:after {
      width: 50%;
      height: 100px;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
      background-color: var(--color-sub);
      content: '';
      display: block;
      position: absolute;
      right: 0px;
      bottom: 0px;
      z-index: 2;
      @include media(mobile) {
        width: 100%;
        height: 52px;
      }
    }
    &:before {
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      background-color: var(--color-main);
      opacity: 0.81;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.else {
  .else-sec {
    padding: 80px 0px;
    @include media(middle) {
      padding: 40px 0px;
    }
    p {
      font-size: 15px;
      font-weight: 500;

      line-height: 2;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    ul {
      border-top: 1px solid #000000;
      li {
        border-bottom: 1px solid #000000;
        padding: 30px 0px;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

.sitemap {
  .sitemap-sec {
    padding: 100px 0px;
    @include media(middle) {
      padding: 40px 0px;
    }
  }
  .sitemap-wrap {
    gap: 2%;
    @include media(mobile) {
      gap: 0%;
    }

    ul {
      width: 32%;
      @include media(mobile) {
        width: 100%;
      }
      li {
        margin-bottom: 25px;
        &:last-child {
          //margin-bottom: 0px;
        }
        a {
          display: block;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
}
