@use './tokens' as *;
.recruit-main {
  background-color: #ffffff;
  background-image:
    linear-gradient(#efefef 1px, transparent 1px),
    linear-gradient(90deg, #efefef 1px, transparent 1px);
  background-size: 24px 24px;
  .recruit-sec {
    padding: 60px 0px;
    @include media(middle) {
      padding: 40px 0px;
    }
  }
  .recruit-article {
    padding: 80px 0px;
    @include media(middle) {
      padding: 40px 0px;
    }
    .recruit-article-wrap {
      padding: 80px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      background-color: #fff;
      border-radius: 10px;
      @include media(middle) {
        padding: 40px 7.5%;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        li {
          font-size: 12px;
          font-weight: 500;
          color: #898989;
          margin-right: 10px;
        }
      }
      h1 {
        font-size: 25px;
        font-weight: bold;
        @include media(middle) {
          font-size: 20px;
        }
      }
      .desc {
        font-size: 15px;
        line-height: 2;
        font-weight: 500;
      }
      .main-img {
        margin-bottom: 30px;
        img {
          border-radius: 10px;
        }
      }
      .main-tab-btn {
        margin-bottom: 40px;
        ul {
          display: flex;
          gap: 2%;
          justify-content: center;
          border-bottom: 5px solid var(--color-sub);
          @include media(middle) {
            border-bottom: 3px solid var(--color-sub);
          }
          li {
            width: 48%;
            max-width: 411px;
            margin: 0px !important;
            a {
              display: flex;
              width: 100%;
              background-color: #fff;
              color: var(--color-sub);
              padding: 20px 0px;
              border-radius: 10px 10px 0px 0px;
              border-bottom: none !important;
              text-align: center;
              font-size: 20px;
              font-weight: bold;
              justify-content: center;
              border: 3px solid var(--color-sub);
              @include media(middle) {
                font-size: 14px;
                border: 2px solid var(--color-sub);
                padding: 10px 0px;
              }
              &.active {
                background-color: var(--color-sub);
                color: #fff;
              }
            }
          }
        }
      }
      .main-tab-content {
        h2 {
          text-align: center;
          margin-bottom: 40px;
          @include media(middle) {
            margin-bottom: 20px;
          }
          span {
            background-color: var(--color-main);
            color: #fff;
            width: 100%;
            max-width: 485px;
            display: inline-block;
            padding: 15px 10px;
            font-size: 25px;
            font-weight: bold;
            border-radius: 10px;
            @include media(middle) {
              font-size: 20px;
              padding: 10px;
            }
          }
        }
        .main-tab-content-02,
        .main-tab-content-01 {
          display: none;
          &.active {
            display: block !important;
          }
        }
        .main-tab-content-dl {
          dl {
            display: flex;
            border-bottom: 1px solid #707070;
            padding: 20px 0px;
            flex-wrap: wrap;
            @include media(middle) {
              padding: 15px 0px;
            }
            @include media(mobile) {
              border-bottom: 1px solid #e5e5e5;
            }
            dt {
              width: 130px;
              font-weight: bold;
              font-size: 15px;
              @include media(mobile) {
                width: 100%;
                margin-bottom: 10px;
              }
            }
            dd {
              width: calc(100% - 130px);
              font-size: 15px;
              font-weight: 500;
              @include media(mobile) {
                width: 100%;
              }
            }
          }
        }
        .main-tab-content-table {
          position: relative;
          z-index: 3;
          &:after {
            z-index: -1;
            width: 1px;
            height: 100%;
            content: '';
            display: block;
            background-color: var(--color-sub);
            position: absolute;
            left: 30px;
            top: 0px;
            @include media(mobile) {
              display: none;
            }
          }
          dl {
            display: flex;
            flex-wrap: wrap;
            dt {
              width: 110px;
              @include media(mobile) {
                width: 100%;
                margin-bottom: 10px;
              }
              span {
                background-color: var(--color-sub);
                color: #fff;
                font-size: 15px;
                padding: 2px 15px;
                border-radius: 20px;
                font-weight: bold;
              }
            }
            dd {
              width: calc(100% - 110px);
              padding-bottom: 20px;
              @include media(mobile) {
                width: 100%;
              }
              h3 {
                font-size: 15px;
                font-weight: bold;
              }
              p {
                font-size: 15px;
                font-weight: 500;
                line-height: 2;
              }
              .table-img {
                margin-top: 15px;
                img {
                  border-radius: 10px;
                  max-width: 365px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .main-btn {
        .aside-wrap-col-full {
          width: 100%;
          margin-top: 20px;
          @include media(mobile) {
            margin-top: 0px;
          }

          a {
            background-color: var(--color-sub);
            padding: 40px 40px;
            display: flex;
            border-radius: 10px;
            align-items: center;
            position: relative;
            @include media(mobile) {
              padding: 15px 20px;
              height: 114px;
              flex-wrap: wrap;
            }
            i {
              display: block;
              position: absolute;
              right: 40px;
              bottom: 50%;
              transform: translateY(50%);
              width: 34px;
              border-radius: 50%;
              height: 34px;
              margin: 10px auto 0px auto;
              background-image: url('../../assets/img/icon/icon-arrow.png');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              @include media(mobile) {
                right: 20px;
              }
            }
            span {
              font-size: 58px;
              color: #fff;
              font-family: var(--font-en);
              font-weight: bold;
              text-align: center;
              line-height: 1.1;
              margin-right: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              @include media(middle) {
                font-size: 40px;
                justify-content: left;
              }
            }
            h3 {
              font-size: 20px;
              text-align: center;
              color: #fff;
              font-weight: bold;
              @include media(mobile) {
                width: 100%;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  .recruit-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5%;
    @include media(mobile) {
      gap: 0%;
    }
    .recruit-wrap-col {
      width: 31%;
      margin-bottom: 2%;
      @include media(mobile) {
        width: 100%;
        margin-bottom: 30px;
      }
      a {
        display: block;
        background-color: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        overflow: hidden;
        padding: 20px;
        .recruit-wrap-col-img {
          img {
            max-height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
        .recruit-wrap-col-txt {
          ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            li {
              font-size: 12px;
              font-weight: 500;
              color: #898989;
              margin-right: 10px;
            }
          }
          h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          dl {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #ebebeb;
            padding: 10px 0px;
            dt {
              width: 60px;
              font-size: 12px;
              font-weight: bold;
            }
            dd {
              width: calc(100% - 60px);
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
