@use './reset';
@use './common';
@use './header';
@use './footer';
@use './top';
@use './aside';
@use './page';
@use './recruit';
@use './interview';
@use './news';

@use './contact';

@use './company';
@use './job';
@use './single';
@use './guardian';
